* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #24273F;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #24273F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

#logo {
    margin: 0.5rem 2rem;
    color: #D8DBE2;
    animation-name: blanco;
    animation-duration: 0.5s;
    transition: 0.5s;
}

@keyframes blanco {
    100% {color: #D8DBE2;}
}
#logo:hover{
    animation-name: arcoiris;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arcoiris {
    0%   {color: #D8DBE2;}
    40%  {color: #679436;}
    80%  {color: #2EC4B6;}
    60%  {color: #E71D36;}
    20%  {color: #FF9F1C;}
    100% {color: #D8DBE2;}
}

ul {
    display: flex;
    background-color: #24273F;
    padding-right: 1rem;
}

li {
    list-style: none;
    margin: 0 0.5rem;
}

.nav-link {
    width: 24px;
    height: 24px;
    margin: 0.3rem 0.5rem;
    padding: 0.3rem;
    background: rgba(76, 76, 128, 0.25);
    border-radius: 9px;
    color: #D8DBE2;
    transition: 0.3s;
}

.nav-link:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

button {
    background: transparent;
    border: transparent;
    margin: 0.3rem 0.5rem;
    cursor: pointer;
}


button .nav-link {
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #A9BCD0;
    z-index: 1;
    min-width: 160px;
    border-radius: 9px;
    padding: 0.5rem;
}

.indicator{
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    right: 20px;
    top: -5px;
    transform: rotate(45deg);
    background-color: #A9BCD0;

}

.dropdown-content a {
    color: #24273F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.dropdown-content svg{
    margin-right: 1rem;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #D8DBE2;
    border-radius: 9px;
    transition: 0.2s;
}

@media screen and (max-width: 450px) {
    header{
        justify-content: center;
    }
    #logo{
        margin: 1rem;
    }
    ul{
        padding: 0;
    }
}

/* Termina la edicion del header, empieza la de main */

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main a{
    background: rgba(76, 76, 128, 0.25);
    text-decoration: none;
    color: #D8DBE2;
    width: 9rem;
    height: 9rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

main a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}