body {
  background-color: #c9e0ee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #457b9d;
  height: 3rem;
  border-radius: 0 0 0.5rem 0;
}

#header-principal #logo {
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
  background-color: #edf6f9;
  border-radius: 1.5rem;
  border: solid #83c5be;
  transition: all .2s ease-in-out;
}

#header-principal #logo:hover {
  background-color: #83c5be;
  border: solid #457b9d;
  transition: all .2s ease-in-out;

}

#header-principal nav {
  margin: 0 1rem 0 0;
}

#header-principal img {
  height: 2.5rem;
}

#header-principal a {
  margin: 0 0.2rem 0 0.2rem;
  text-decoration: none;
}

#header-principal a img {
  background-color: #edf6f9;
  border-radius: 0.5rem;
  height: 2rem;
}

#header-principal svg {
  color: #fff;
  height: 2rem;
  width: 2rem;
  background-color: #ff0000;
  border-radius: 0.5rem;
}



.pagina {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.pagina:hover {
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}

aside {
  background-color: #98c1d9;
  position: fixed;
  top: 3rem;
  height: 93%;
  width: 15rem;
  border-radius: 0 1rem 1rem 0;

}

aside ul {
  margin: 0;
  padding: 1rem 0.5rem;
  list-style: none;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

aside ul li {
  width: 14rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

aside ul a:hover {
  height: 3rem;
}

aside ul a {
  text-decoration: none;
  color: #edf6f9;
  background-color: #457b9d;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 14rem;
  display: flex;
  align-items: center;
  transition: all .2s ease-in-out;

}

main {
  margin: 3rem 0 0 15rem;
}

section {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #98c1d9;
  box-shadow: inset 9px -9px 29px #7a9aae, inset -9px 9px 29px #b6e8ff;
  color: #171738;
}

.anchor {
  display: block;
  margin-top: -3rem;
  height: 3rem;
  visibility: hidden;
}

section header {
  font-size: 1.5rem;
  text-decoration: underline;
}

section article {
  margin: 15px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

section li {
  margin: 15px 0px 0px 20px;
}


section code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #c9e0ee;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

section .meme {
  align-self: center;
  width: 20rem;
  height: auto;
}

section img {
  width: 2rem;
  height: 2rem;
}

section a {
  text-decoration: none;
}


@media screen and (max-width: 750px) {
  #header-principal {
    border-radius: 0 0 1rem 1rem;
  }

  aside {
    display: none;
  }

  main {
    margin: 0;
    margin-top: 3rem;
  }
}

footer a {
  z-index: 1;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  border-radius: 9px;
  background: rgba(201, 224, 238, 0.35);
  -webkit-backdrop-filter: blur(23px);
  backdrop-filter: blur(23px);
  color: #457b9d;

}

footer a svg {
  padding: 0.2rem;
}