body{
    background-color: #98C1D9;
    color: #2D2A32;
}

li{
    padding: 1rem;
    margin: 1rem;
    border-radius: 59px;
background: linear-gradient(145deg, #89aec3, #a3cfe8);
box-shadow:  24px 24px 48px #637d8d,
             -24px -24px 48px #cdffff;
}

footer{
    display: flex;
    justify-content: end;
}