body {
    background-color: #98c1d9;
    color: #2d2a32;
  }
  h1{
      padding: 1rem;
      border-radius: 1.5rem;
  background: #98C1D9;
  box-shadow:  -6px -6px 12px #7595a7,
               6px 6px 12px #bbedff;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .link {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  background: linear-gradient(145deg, #a3cfe8, #89aec3);
  box-shadow:  6px 6px 12px #7595a7,
               -6px -6px 12px #bbedff;
  }
  img {
    width: 2rem;
    height: 2rem;
  }
  
  .grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    grid-auto-rows: max-content;
  }
  
  .col {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #98c1d9;
    box-shadow: inset 9px -9px 29px #7a9aae, inset -9px 9px 29px #b6e8ff;
    display: flex;
    flex-direction: column;
    
    align-items: center;

  }
  
  footer{
      float: right;
  }

  .meme{
    width: 20rem;
    height: auto;
  }
