html,
body {
  min-width: 290px;
  color: #171738;
  background-color: #98c1d9;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;

}

header {
  color: #171738;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#navbar header{
    padding: 1rem;
    margin: 0;
  margin-top: 0.5rem;
  border-radius: 1.5rem;
  border-style: solid;
  border-color: #171738;
  display: flex;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 80%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
}
#navbar ul::-webkit-scrollbar {
  display: none;
}

#navbar li {
  color: #171738;
  list-style: none;
  position: relative;
  width: 85%;
  padding: 1rem;
  margin-top: 0.5rem;
      border-radius: 1.5rem;
  background: #98C1D9;
  box-shadow:  -6px -6px 12px #7595a7,
               6px 6px 12px #bbedff;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #171738;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section{
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #98c1d9;
    box-shadow: inset 9px -9px 29px #7a9aae, inset -9px 9px 29px #b6e8ff;
    
}
section article {
  color: #171738;
  margin: 15px;
  font-size: 1rem;
  display: flex;
    flex-direction: column;
}

section li {
  margin: 15px 0px 0px 20px;
}


code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #c9e0ee;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.meme{
  align-self: center;
  width: 20rem;
  height: auto;
}

img {
  width: 2rem;
  height: 2rem;
}

a{
  text-decoration: none;
}
@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 170px;
  }

  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
